.text {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.text h1 {
    font-size: 2rem;
}

.text p {
    font-size: 1.3rem;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
}

@keyframes slideshow {
   0% {
    transform: translateX(0vw);
   }
   16% {
    transform: translateX(-100vw);
   }
   32% {
    transform: translateX(-200vw);
   }
   48% {
    transform: translateX(-300vw);
   }
   64% {
    transform: translateX(-200vw);
   }
   80% {
    transform: translateX(-100vw);
   }
   100% {
    transform: translateX(0vw);
   }
   
}
@media (min-width: 1000px) {
    @keyframes slideshow {
       0% {
        transform: translateX(0vw);
       }
       25% {
        transform: translateX(-50vw);
       } 
       50% {
        transform: translateX(-100vw);
       }
       75% {
        transform: translateX(-50vw);
       }
       100% {
        transform: translateX(0vw);
       }
        
     }
}



.intro {
    height: 75vh;
    width: 400vw;
    display: flex;
    overflow: hidden;
    position: relative;
    left: -0em;
    animation: slideshow 12s ease 2s infinite normal;
}
@media (min-width: 1000px) {
    .intro {
        height: 85vh;
        width: 200vw;
    }
}


.intro img {
    width: 100vw;
    object-position: center;
    object-fit: cover;
}
@media (min-width: 1000px) {
    .intro img {
        width: 50vw;
    }
}



.li {
    position: absolute;
    text-decoration: none;
    top: 65vh;
    right: 8%;
    list-style-type: none;
}
@media (min-width: 1000px) {
    .li {
        top: 72vh;
        right: 6%;
    }
}

.li  button {
    height: 4em;
    margin-left: auto;
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.li button:active {
    border-color: grey;
}



.li button img {
    width: 2em;
    position: relative;
}

